<%- include('../includes/head.ejs') %>
<!-- tambah css (Option) -->
</head>
<body>
<%- include('../includes/nav.ejs') %>
<div class="col-md-10 mb-5 p-5 pt-2">
    <br>
    <br>
    <br>
    <br>
    <h1 class="h1"> <i class="bi bi-graph-up-arrow"> </i>   DASHBOARD </h1>
    <hr class="bg-secondary">
<br><br>
    <div class="row text-white justify-content-center">
        <div class="col-5">
            <div class="card bg-primary" style="width: 18rem;">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="bi bi-person-fill"></i>
                    </div>
                <h5 class="card-title">Jumlah Pelanggan</h5>
                <div class="display-4">
                    12.000
                </div>
                <a href="#" class="nav-link text-white"> Lihat Detail <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card bg-danger" style="width: 18rem;">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="bi bi-person-circle"></i>
                    </div>
                <h5 class="card-title">Jumlah Karyawan</h5>
                <div class="display-4">
                    12.000
                </div>
                <a href="#" class="nav-link text-white"> Lihat Detail <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row text-white justify-content-center">
        <div class="col-5">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header bg-primary display-4 pt-4 pb-4">
                    <i class="bi bi-globe"></i>
                </div>
                <div class="card-body">
                <h5 class="card-title text-primary">WEBSITE</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://lords.id/" target="_blank" class="btn btn-primary">Visit</a>
                </div>
            </div>
    </div>
        <div class="col-5">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header bg-danger display-4 pt-4 pb-4">
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="card-body">
                <h5 class="card-title text-danger">INSTAGRAM</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="https://www.instagram.com/lordsindonesia/" target="_blank" class="btn btn-danger">Follow</a>
                </div>
            </div>
    </div>
    </div>
</div>
<!-- ! penutupup div yang bawah jangan diganti atau di hapus punya row nav -->
</div> 


<%- include('../includes/navFixed.ejs') %>


<%- include('../includes/end.ejs') %>
